<!doctype html>
<html ng-app="indexApp" ng-controller="indexCtrl">
    <head>
        <title>Instructions</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href={{style}}>
        <link rel="stylesheet" href="stylesheets/generalStyle.css">
        <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://rawgit.com/cbadke/simplemde-markdown-editor/force-textarea-synch/dist/simplemde.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
        <script src="javascripts/lib/ng-file-upload-shim.js"></script>
        <script src="javascripts/lib/ng-file-upload.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.1/marked.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/autosize.js/1.18.4/jquery.autosize.min.js"></script>
        <script src="http://localhost:80/socket.io/socket.io.js"></script>
        <script src="https://docraptor.com/docraptor-1.0.0.js"></script>
        <script src="javascripts/index.js"></script>
        <script src="javascripts/instructions.js"></script>
        <script src="javascripts/writeInstruction.js"></script>
        <script src="javascripts/getInstruction.js"></script>
        <script src="javascripts/fullTextSearch.js"></script>
        <script src="javascripts/profile.js"></script>
    </head>
    <body class="night">
        <nav class="navbar navbar-expand-md navbar-{{styleNavbar}} navbarIndex night-l">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <b class="icon">i</b> Instructions
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Публикации <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Пользователи</a>
                        </li>
                    </ul>                   
                    <div ng-show="showSearch" class="input-group inputGroupSearch mr-sm-2">
                        <button class="search"><a href="#!fullTextSearch/{{dataOfSearch}}"><i class="fa fa-search settings btnSearch" aria-hidden="true"></i></a></button>
                        <input type="text" placeholder="Поиск" class="search inputSearch" ng-model="dataOfSearch">
                        <button class="search"><i class="fa fa-times settings btnSearch" aria-hidden="true" ng-click="closeInputSearch()"></i></button>
                    </div>                 
                    <i ng-show="!showSearch" class="fa fa-search mr-sm-3 ikonSearch settings btnSearch" aria-hidden="true" ng-click="openInputSearch()"></i>
                    <li class="nav-item dropdown">
                        <i class="fa fa-cog mr-sm-3 settings" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Настройки"></i>
                        <div class="dropdown-menu night-l navbarDropdownMenuLink" aria-labelledby="navbarDropdownMenuLink">                            
                            <div>
                                <label>
                                    RU
                                    <input type="radio" class="option-input radio" name="example" checked />
                                </label>
                                <label>
                                    <input type="radio" class="option-input radio" name="example" />
                                    EN
                                </label>
                                <br>
                                <label class="sunmoon">
                                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                                    <input type="radio" class="option-input radio" name="sunmoon" id="sun" ng-click="changeOfStyle('sun');" checked/>
                                </label>
                                <label>
                                    <input type="radio" class="option-input radio" name="sunmoon" id="moon" ng-click="changeOfStyle('moon');"/>
                                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                                </label>                            
                            </div>   
                        </div>
                    </li>
                    <div class="btn-group">
                        <a class="signIn" href="/authorization" ng-show="!checkAuth">Войти</a>
                        <a href="#!write/0/{{data.idUser}}"><button type="button" class="btn btn-outline-info navwrite mr-sm-2" ng-show="checkAuth">Написать</button></a>
                        <img src="{{data.photo}}" class="navicon" ng-show="checkAuth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{data.familyName}}">
                        <div class="dropdown-menu night-l navbarDropdownProfile">                            
                            <a class="dropdown-item" href="#!profile/{{data.idUser}}">Профиль</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/session/exit">Выход</a>   
                        </div>
                    </div>                   
                </div>
            </div>
        </nav> 
        <ng-view></ng-view>
    </body>
</html>