.night{
    background: rgb(17, 17, 17);
    color: white;
}

.night-l{
    background: rgb(35, 35, 35);
    color: white;
}

.night-l .dropdown-item{
    color: hsl(0, 0%, 63%);
}

.night-l .dropdown-item:hover{
    color: white;
    background: rgb(35, 35, 35);
}

.navbarDropdownProfile{
    padding: 0;
    margin-left: -20px;
}