.navbarIndex{
    background-color: white;
    border-bottom: 1px solid #d5dddf;
}

table, tr, td, th{
   border: 1px solid grey; 
}

.com{
    border-top: 1px solid #d5dddf;
}

.PDF{
    border: 1px solid #e4e8ea;
}

.searchInstructions h1{
    color: black;
}

.searchInstructions p{
    color: black;
}

.instructionsUser h1{
    color: black;
}

.instructionsUser p{
    color: black;
}

.adminPanel table, tr, td, th{
    border: 1px solid white; 
}

.inputGroupSearch{
    border: 1px solid #ced4da;
}

.listFullName{
    color: #444;
}

.search{
    background: white;
}

.postStats{
    color: black;
}

.badgeSort{
    border: 1px solid #ced4da;
    background-color: white;
    color: #495057;
}

.filterAndSortPanel{
    border: 1px solid rgba(0,0,0,.1);
}