.night{
    background: rgb(17, 17, 17);
    color: white;
}

.night-l{
    background: rgb(35, 35, 35);
    color: white;
}

.night-l .dropdown-item{
    color: hsl(0, 0%, 63%);
}

.night-l .dropdown-item:hover{
    color: white;
    background: rgb(35, 35, 35);
}

.navbarDropdownProfile{
    padding: 0;
    margin-left: -20px;
}

table, tr, td, th{
   border: 1px solid white; 
}

hr{
    color: #333333;
    background-color: #333333;
}

.commentsList{
    background: rgb(17, 17, 17);
    color: white;
}

.PDF{
    border: 1px solid #333333;
}

.searchInstructions h1{
    color: white;
}

.searchInstructions p{
    color: white;
}