.night{
    background: rgb(17, 17, 17);
    color: white;
}

.night-l{
    background: rgb(35, 35, 35);
    color: white;
}

.night-l .dropdown-item{
    color: hsl(0, 0%, 63%);
}

.night-l .dropdown-item:hover{
    color: white;
    background: rgb(35, 35, 35);
}

.navbarDropdownProfile{
    padding: 0;
    margin-left: -20px;
}

table, tr, td, th{
   border: 1px solid white; 
}

hr{
    color: #333333;
    background-color: #333333;
}

.commentsList{
    background: rgb(17, 17, 17);
    color: white;
}

.PDF{
    border: 1px solid #333333;
}

.searchInstructions h1{
    color: white;
}

.searchInstructions p{
    color: white;
}

.instructionsUser h1{
    color: white;
}

.instructionsUser p{
    color: white;
}

.ikonSearchAdminPanel{
    background: #1F1F1F;
}

.adminPanel table, tr, td, th{
    border: 1px solid rgb(17, 17, 17); 
}

.listFullName{
    color: white;
}

.inputGroupSearch{
    border: 1px solid #111;
}

.inputSearch{
    background: #1F1F1F;
    color: #fff;  
}

.search{
    background: #1F1F1F;
}

.editableform {
    background: #2D2E2D; 
    border: 1px solid black;
}

.postStats{
    color: white;
}

.selectFilter{
    border: 1px solid black;
    background-color: #2B2B2B;
    color: white;
}

.badgeSort{
    border: 1px solid black;
    background-color: #2B2B2B;   
}

.filterAndSortPanel{
    border: 1px solid #333333;
}

.listSubjects a{
    background: #1F1F1F;
}

.listSubjects span{
    color: #868e96;
}

.listSubjects span:hover{
    color: #BDBDBD;
}