<div class="container cont">
    <div class="row">
        <div class="col-md-9">
            <a>
                <img class="image-mini" src={{instruction.photo}}>
                <span class="user-info__nickname">{{instruction.familyName}}</span>                
            </a>
            <span class="post__time">{{instruction.date}}</span>
            <br><br>
            <div id="content">
                <style>
                    table, tr, td, th{border: 1px solid grey;}
                    img{max-width: 100%;}
                </style>
                <h1 class="post_title_tex">{{instruction.heading}}</h1>
                <article id="FullPreview"></article>
            </div>
            <div class="PDF">
                <span>Сохранить в формате PDF</span>
                <a ng-click="generatePDF()">
                    <img class="btnGeneratePDF" src="http://www.legion490.com/index_htm_files/download_pdf_button.png">
                </a>
            </div>
            <div class="PDF">
                <span>Рейтинг <b>{{avRating}}</b> / 5</span>
                <div star-rating class="blockStars" ng-model="rating" max="5" readonly="isReadonly" on-rating-select="rateFunction(rating)"></div>
            </div>            
            <hr>
            <span ng-repeat="selectedTag in instruction.tags">
                <span class="tags">{{selectedTag}}</span>
            </span>                
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 comments">
            <textarea id="b-comments-reply__editable" ng-model="comment"></textarea>
            <button type="button" class="btn btn-outline-info navwrite" ng-click="addComment()">Отправить</button>
            <br><br>
            <span class="comment-section__head-title">Комментарии</span>
            <hr>
            <span class="notComments" ng-show="!checkComments">Нет комментариев</span>
            <div ng-repeat="comm in comments" class="contentComment">
                <div class="commentHead">
                    <a>
                        <img class="image-mini" src={{comm.photo}}>
                        <span class="user-info__nickname">{{comm.familyName}}</span>               
                    </a>
                    <span class="post__time">{{comm.date}}</span>
                    <span class="like">   
                        <a ng-show="!checkLike.get(comm.idComments)">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true" ng-click="like(comm.idComments)"></i>
                        </a>
                        <a ng-show="checkLike.get(comm.idComments)">
                            <i class="fa fa-thumbs-up" aria-hidden="true" ng-click="like(comm.idComments)"></i>
                        </a>                        
                        {{comm.countLike}}                       
                    </span>
                </div>
                <textarea id="commentsList{{comm.idComments}}" class="commentsList" readonly>{{comm.text}}</textarea>
            </div>
        </div>
    </div>    
</div>