<div class="container cont">
    <div class="row">
        <div class="col-md-9">
            <div class="tabs-menu">
                <a id="tabs-last" class="tm tabs-menu-active" ng-click="showPublications('last')"><span>{{'LATEST' | translate}}</span></a>
                <a id="tabs-best" class="tm tabs-menu-not-active" ng-click="showPublications('best')"><span>{{'BEST' | translate}}</span></a>
            </div>
            <hr>
            <div class="collapsed-form-FullPreview" ng-repeat="i in instructions">
                <p>
                    {{i.idInstruction}}
                </p>
                <a>
                    <img class="image-mini" src={{i.photo}}>
                    <span class="user-info__nickname">{{i.familyName}}</span>                
                </a>
                <span class="post__time">{{i.date}}</span>
                <h1 class="post_title_tex">
                    {{i.heading}}
                    <br>
                    <span class="postStats">
                        <i class="fa fa-star starAvRating" aria-hidden="true"></i> {{i.avRating}}
                        <i class="fa fa-comments countComments" aria-hidden="true"></i> {{i.countComments}}
                    </span>                
                </h1>
                <span ng-repeat="tag in i.tags">
                    <a ng-click="showPublicationsByTag(tag)"><span class="tags">{{tag}}</span></a>
                </span>
                <br><br>
                <img src={{i.preview}}>
                <br><br>
                <p>{{i.shortDescription}}</p>
                <a href="#!instruction/{{i.idInstruction}}"><button type="button" class="btn btn-outline-info">{{'READ_MORE' | translate}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button></a>
                <br><br>
            </div>
        </div>
    </div>
</div>